<html lang="en">
    <%- include("./partials/header.ejs") %>
    
    <body class="is-light"> 
    
        <section class="hero is-fullheight" style="background-color: #f80000;">
            <div class="hero-body">
              <div class="">
                <p class="title has-text-white is-size-1">
                  404 Error
                </p>
                <p class="subtitle has-text-white is-size-4">
                  This page is not available.
                </p>
              </div>
            </div>
          </section>
    
    <%- include("./partials/footer.ejs") %>
    </body>
</html>

