.card-container{
    display: flex; 
    justify-content: space-around;  
    flex-wrap: wrap;
    align-items: flex-start;
}

.card-request-ownership{
    padding:10px;
    margin: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 20px 2px lightgrey;
    text-align: center;
}

.icon-button{
    background: transparent;
    border: None;
}

.sort-icon-style{
    width:20px;
    height:14px;
}

.red-bg{
    background-color:#f80000 !important; 
    color:white !important;
}

.page-block{
    min-height: 650px !important;
    padding: 10px !important; 
    border: solid !important; 
    border-color: rgb(200, 200, 200) !important; 
    border-width: 2px !important; 
    border-radius: 4px !important; 
    margin-top: 50px !important;
}

.key{
    display:inline-block;  
    text-align: right; 
    margin-right: 10px;  
    padding-top: 7px;
     width:150px;
}

.ib{
    display:inline-block !important;
}

.text-style{
    font-size: large; 
    font-weight: 500;
}