<html lang="en">
    <%- include("../partials/header.ejs") %>
    
    <body class="is-light"> 
    
    <%- include("../partials/nav.ejs") %>
    

    
    <%- include("../partials/footer.ejs") %>
    </body>
</html>