<html lang="en">
    <%- include("../partials/header.ejs") %>
    
    <body class="is-light" style="margin-left: 10%; margin-right: 10%;"> 
    
    <%- include("../partials/nav.ejs") %>
    

    
    <%- include("../partials/footer.ejs") %>
    </body>
</html>