<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> 
    <script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@creativebulma/bulma-tooltip@1.2.0/dist/bulma-tooltip.min.css">
    <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>

    <style>
        .tab-container{
            min-height: 700px;
            border: solid; 
            border-color: rgb(200, 200, 200); 
            border-width: 1px; 
            margin-top: 50px;
            border-radius: 4px;
        }

        .dropbox-container{
            border: solid; 
            border-radius: 10px;
            padding: 20px 20px;
            display: flex; 
            justify-content: flex-start;  
            flex-wrap: wrap;
            gap: 20px; 
            align-items: center;
        }
    </style>
</head>  





